<mat-card>
  <mat-card-title>
    <mat-checkbox [(ngModel)]="model.active">{{account}}</mat-checkbox>
  </mat-card-title>
  <mat-form-field *ngIf="model.active">
    <input matInput placeholder="Lump sum" type="number"
      [(ngModel)]="model.lump">
  </mat-form-field>

  <mat-checkbox *ngIf="account == 'Mortgage'" [(ngModel)]="CalculatePayment">Calculate Payment</mat-checkbox>
  <mat-form-field *ngIf="model.active">
    <input matInput placeholder="Contribution" type="number"
      [(ngModel)]="model.contribution">
  </mat-form-field>

  <mat-form-field *ngIf="model.active">
    <mat-select placeholder="Period" [(ngModel)]="model.period">
      <mat-option *ngFor="let period of periods" [value]="period">
        {{period}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="model.active">
    <mat-select placeholder="Period" [(ngModel)]="model.risk">
      <mat-option *ngFor="let risk of risks" [value]="risk">
        {{risk}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>