<mat-card>
  <mat-card-title>
    Investments
  </mat-card-title>

  <mat-form-field>
    <input matInput placeholder="RRSP Contribution Room" type="number" [(ngModel)]="model.rrspRoom" [disabled]="disable">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Pension adjustment" type="number" [(ngModel)]="model.pension" [disabled]="disable">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="TFSA Contribution Room" type="number" [(ngModel)]="model.tfsaRoom" [disabled]="disable">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Age" type="number" [(ngModel)]="model.age" [disabled]="disable">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="RRSP Portfolio Value" type="number" [(ngModel)]="model.rrspValue" [disabled]="disable">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="TFSA Portfolio Value" type="number" [(ngModel)]="model.tfsaValue" [disabled]="disable">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Taxable Portfolio Value" type="number" [(ngModel)]="model.taxableValue" [disabled]="disable">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Income" type="number" [(ngModel)]="model.income" [disabled]="disable">
  </mat-form-field>
</mat-card>
<br />
<button mat-button class="mat-elevation-z8" (click)="addFirstYear()" style="margin:10px;" *ngIf="!disable">Add First Year</button>