<table mat-table [dataSource]="summary.dataSource" class="mat-elevation-z8" style="margin-left: auto; margin-right: auto;">
  <ng-container *ngFor="let column of summary.columns" [cdkColumnDef]="column.columnDef">
    <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="summary.displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: summary.displayedColumns;"></mat-row>
</table>