
    <button mat-button class="mat-elevation-z8" (click)="addYear()" style="margin-top:20px;">Add Conservative Year</button>
    <button mat-button class="mat-elevation-z8" (click)="addYear()" style="margin-top:20px; margin-left: 20px;">Add Cautious Year</button>
    <button mat-button class="mat-elevation-z8" (click)="addYear()" style="margin-top:20px; margin-left: 20px;">Add Balanced Year</button>
    <button mat-button class="mat-elevation-z8" (click)="addYear()" style="margin-top:20px; margin-left: 20px;">Add Assertive Year</button>
    <button mat-button class="mat-elevation-z8" (click)="addYear()" style="margin-top:20px; margin-left: 20px;">Add Aggressive Year</button>
