
<div>
    <h3>Values at the beginning of the year</h3>
    <app-initial-values [model]="initialValues" [disable]="disable"></app-initial-values>

    <h3>Strategy for this year</h3>
    <app-contribution account="RRSP" [model]="summary.thisYear.rrsp"></app-contribution>
    <app-contribution account="TFSA" [model]="summary.thisYear.tfsa"></app-contribution>
    <app-contribution account="Taxable" [model]="summary.thisYear.taxable"></app-contribution>
    <br/>
    <mat-form-field>
        <input matInput placeholder="Income" type="number" [(ngModel)]="income">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Risk Tolerance" [value]="risk">
            <mat-option *ngFor="let risk of risks" [value]="risk">
            {{risk}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button class="mat-elevation-z8" (click)="addYear()" style="margin-top:20px;">Add Year</button>
</div>