<div class="root">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <mat-expansion-panel [expanded]="initialExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Initial Values
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-initial-values showButton="true" [mortgages]="mortgageService.initialMortgages"></app-initial-values>
    
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="summary.firstYear" [expanded]="currentExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="!summary.retired">
        Current Year (Net income = {{summary.netIncome}}) (Retirement income = {{summary.retirementIncome}})
      </mat-panel-title>
      <mat-panel-title *ngIf="summary.retired">
        Current Year (Retired)
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-current-year></app-current-year>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="summary.firstYear">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Summary (Average return = {{summary.averageReturn}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-summary></app-summary>
  </mat-expansion-panel>
</div>
